:root {
	--color-main: #c0eb27;
	--color-second: #9cc213;

	--color-main-transparent: #c1eb27b7;
	--color-second-transparent: #9cc213b7;
}

@font-face {
	font-family: 'Comfortaa';
	src: url("fonts/Comfortaa-Regular.ttf");
}

@font-face {
	font-family: 'Roboto';
	src: url("fonts/Roboto-Regular.ttf");
	font-weight: 400;
}
@font-face {
	font-family: 'Roboto';
	src: url("fonts/Roboto-Light.ttf");
	font-weight: 300;
}

@font-face {
	font-family: 'Roboto';
	src: url("fonts/Roboto-Bold.ttf");
	font-weight: 700;
}

@font-face {
	font-family: 'Roboto';
	src: url("fonts/Roboto-Medium.ttf");
	font-weight: 500;
}

fieldset {
	all: unset;
}
input {
	box-sizing: border-box;
	border-radius: 0.3rem;
	padding: 0.3rem;

	margin: 0.2rem;
	vertical-align: top;
	align-self: flex-start;

	height: calc(0.6rem + 1em + 2px);
	min-width: 10rem;

	font-size: 1em;

	background-color: rgb(214, 214, 214);
	border: 1px solid rgb(214, 214, 214);

	box-shadow: 0px 0px 0px 2px transparent;
	transition: border 0.3s, background-color 0.3s, box-shadow 0.25s;
}

input:hover {
	border: 1px solid var(--color-second);
	background-color: whitesmoke;
}

input:focus {
	border: 1px solid var(--color-main);
	background-color: whitesmoke;
	outline: none;
	box-shadow: 0px 0px 0px 1.5px var(--color-main-transparent);
}

input[type="submit"] {
	background-color: var(--color-second);
}

input[type="submit"]:hover, input[type="button"]:hover, button:hover {
	background-color: var(--color-main);
}

input[type="submit"]:focus, input[type="button"]:focus, button:focus {
	background-color: var(--color-main);
	box-shadow: 0px 0px 0px 2px var(--color-second-transparent);
}

.box {
	display: block;
	border-radius: 0.4rem;
	box-shadow: 0px 0px 3px 0px rgba(128, 128, 128, 0.8);
	background-color: white;
	padding: 0.5rem;
	margin: 0.3rem;
}
.full {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.212);
}
.full > * {
	z-index: 101;
}
.full > .box {
	margin:	auto;
}


.message {
	display: block;
	position: relative;

	min-width: 7rem;
	max-width: 25rem;

	font-size: 1rem;
	border-radius: 0.4rem;
	box-shadow: 0px 0px 4px -0.5px black;
	margin: 0.3rem;
	margin-bottom: 0.5rem;
	padding: 0.15rem 0.3rem;
	margin-left: 3rem;

	transition: background-color 0.5s 1s;
}
.unread {
	background-color: rgb(255, 255, 109);
}

.forward>.message {
	margin: 0.2rem;
	margin-left: 0.2rem;
	font-size: 95%;
}

.message.far_forward {
	margin: 0.2rem;
	margin-left: 0.2rem;
	background-color: lightgray;
	color: gray;
	font-size: 0.9em;
}

.message .user_icon {
	font-size: 1rem;
	position: absolute;
	left: -2.5rem;
}

.message_author {
	font-size: 0.9em;
	color: rgb(60, 60, 60);
	font-weight: 500;
}

.message>* {
	display: inline-block;
}

.user_icon {
	box-sizing: border-box;
	height: 2em;
	width: 2em;
	border-radius: 50%;
	text-align: center;
	line-height: 2em;
	background-color: rgb(255, 183, 0);
}
