
body {
	box-sizing: border-box;
	height: 100vh;
	font-family: "Roboto";
	margin: 0;
	padding: 0;
	padding-top: 3rem;
}

header {
	box-sizing: border-box;
	position: fixed;
	display: flex;
	justify-content: space-between;
	height: 3rem;
	width: 100%;
	padding: 0.5rem;
	top: 0;
	background-color: white;
	box-shadow: 0px 0px 3px 0px gray;
	z-index: 102;
}

main {
	box-sizing: border-box;
	position: relative;
	height: 80vh;
	height: calc(100vh - 3rem);
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-y: auto;
}
main > * {
	display: block;
	height: 100%;
	overflow-y: auto;
	margin: 0px;
}
nav {
	position: absolute;
	box-sizing: border-box;
	width: fit-content;
	max-width: 0;
	overflow: hidden;
	padding: 1rem 0;

	background-color: whitesmoke;
	box-shadow: 2px 0px 4px -2px black;

	z-index: 99;

	transition: max-width 0.4s;
}
nav.active {
	max-width: 14rem;
}

.room_list_element {
	min-width: 12rem;
	max-width: 12rem;
	padding: 0.5rem 0.5rem;

	background-color: rgb(255, 255, 255);

	transition: background-color 0.3s;
}
.room_list_element .room_name {
	margin: 0;
	font-size: 1.3rem;
	font-weight: 400;
}

.room_list_element:hover {
	background-color: var(--color-second);
}
.room_list_element.active {
	background-color: var(--color-main);
}

#current_room {
	width: 100%;
}
#current_room_container {
	display: flex;
	flex-direction: column;

	height: 100%;
}
@media only screen and (min-width: 750px) {
	main > * {
		display: inline-block;
		vertical-align: top;
	}
	nav, nav.active {
		position: relative;
		max-width: 12rem;
	}
	#current_room {
		width: 70%;
		width: calc(100% - 12rem);
	}
}

#room_header .room_name {
	margin: 0;
}

#room_message_list {
	padding: 0.4rem 1.5rem;
	flex-grow: 3;
	overflow: auto;
}

#new_message_form {
	box-sizing: content-box;
	position: relative;
	/* bottom: 0; */
	max-height: 14.5rem;
	height: fit-content;

	width: 90%;
	width: calc(100% - 0.6rem);

	padding: 0.3rem;
	display: block;
	z-index: 98;
	background-color: white;
	box-shadow: 0px 0px 3px 0px black;
}

#new_message_form .forward {
	box-sizing: border-box;
	height: fit-content;
	max-height: 0rem;
	transition: max-height 0.4s;
	overflow-y: hidden;
}

#new_message_form.contains_reply .forward {
	max-height: 12rem;
}
#new_message_form.contains_reply .message {
	width: 90%;
}

#new_message_form input {
	font-size: 1.2rem;
}
#new_message_form fieldset {
	width: 100%;
}

#new_message_form input[type="text"] {
	box-sizing: border-box;
	width: 73%;
	width: calc(100% - clamp(3rem, 20%, 7rem) - 0.8rem - 1.2rem);
	max-width: 30rem;
}

#new_message_form input[type="submit"] {
	box-sizing: border-box;
	width: 20%;

	max-width: 7rem;
	min-width: 3rem;
}
/* 
#new_message_form.inactive * {
	color: gray;
	background-color: lightgray;
} */

#login_form > .box {
	position: fixed;
	top: 3.5rem;
	width: clamp(12rem, 80%, 25rem);

	font-size: 1.2rem;
	
	left: 50%;
	transform: translateX(-50%);

	z-index: 200;
}

.hidden {
	display: none;
}

#login_form input {
	width: calc(100% - 0.6rem);
	margin-bottom: 0.5rem;
}

#scroll_to_new_button {
	position: absolute;

	right: 1rem;
	top: -4rem;

	min-width: 0;
	width: 3rem;
	height: 3rem;

	font-family: 'Comfortaa';
	font-weight: 500;
	font-size: 2rem;

	padding: 0;
	line-height: 3rem;

	border-radius: 50%;

	box-shadow: lightgray 0px 0px 5px 1px;
	background-color: whitesmoke;
}
#open_room_list_button, #open_room_list_button:hover, #open_room_list_button:focus {
	background-color: transparent;
	border: none;

	margin: 0.2rem;
	margin-top: -0.05rem;
	padding: 0;

	font-size: 2rem;
	line-height: 1rem;
	height: 2rem;
	width: 2rem;
	min-width: 2rem;
}